
#menu-posts-people .wp-menu-image.dashicons-before:before {
	content: '\e66c';
	font-family: 'wpmovielibrary';
}

#wpmoly-meta-search-metabox.postbox .inside {
	padding: 0;
}

#wpmoly-people-metabox:not(.closed) {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
}

#wpmoly-people-metabox:not(.closed) .hndle {
	display: none;
}

#wpmoly-people-metabox:not(.closed) .handlediv {
	position: relative;
	z-index: 10;
}

#wpmoly-filmography-cast table.wp-list-table.widefat,
#wpmoly-filmography-crew table.wp-list-table.widefat {
	clear: none;
}

#wpmoly-filmography-cast #wpmoly-filmography-cast-item-poster,
#wpmoly-filmography-cast .wpmoly-filmography-cast-item-poster,
#wpmoly-filmography-crew #wpmoly-filmography-cast-item-poster,
#wpmoly-filmography-crew .wpmoly-filmography-cast-item-poster {
	text-align: center;
	width: 3em;
}

#wpmoly-filmography-cast .wpmoly-filmography-cast-item-poster-container, 
#wpmoly-filmography-crew .wpmoly-filmography-cast-item-poster-container {
	height: 3em;
	overflow: hidden;
	width: 3em;
}

#wpmoly-filmography-cast .wpmoly-filmography-cast-item-poster-container img,
#wpmoly-filmography-crew .wpmoly-filmography-cast-item-poster-container img {
	height: auto;
	width: 100%;
}

#wpmoly-filmography-cast .wpmoly-filmography-cast-item-poster-container img.thumb,
#wpmoly-filmography-crew .wpmoly-filmography-cast-item-poster-container img.thumb {
	margin-top: -25%;
}

#wpmoly-filmography-cast #wpmoly-filmography-cast-item-character,
#wpmoly-filmography-cast .wpmoly-filmography-cast-item-character,
#wpmoly-filmography-crew #wpmoly-filmography-cast-item-character,
#wpmoly-filmography-crew .wpmoly-filmography-cast-item-character {
	text-align: right;
}

#wpmoly-filmography-cast #wpmoly-filmography-cast-item-date,
#wpmoly-filmography-cast .wpmoly-filmography-cast-item-date,
#wpmoly-filmography-crew #wpmoly-filmography-cast-item-date,
#wpmoly-filmography-crew .wpmoly-filmography-cast-item-date {
	text-align: center;
	width: 4em;
}
